.article-news-section2 {
    background-color: #F0EFE9;
    .container {
        .top-row {
            align-items: center;
            justify-content: space-between;
            text-align: center;
            margin-bottom: 10px;

            @media (min-width: 1200px) {
                display: flex;
                text-align: start;
            }

            .section-title {
                padding-bottom: 30px;
            }

            .browse-articles {
                .btn-transparent {
                    padding-top: 16px;
                    padding-bottom: 16px;
                }

                @media (min-width: 1200px) {
                    padding-top: 120px;
                }
            }
        }

        .articles-and-news {
            gap: 20px;

            @media (min-width: 768px) {
                display: flex;
            }

            .article {
                color: #191919;
                text-decoration: none;
                position: relative;

                img {
                    margin-top: 60px;
                    margin-bottom: 20px;
                    height: 230px;
                    width: 420px;
                    transition: box-shadow 0.2s ease-in-out;

                    @media (min-width: 1200px) {
                        margin: 20px 0px;
                    }
                }

                &:hover img {
                    box-shadow: 4px 4px 4px 1px rgba(61, 61, 61, 0.5);
                }

                h3 {
                    width: 80%;
                    padding-right: 20px;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    text-decoration: underline;
                    text-decoration-color: transparent;
                    transition: text-decoration-color 0.2s ease-in-out;
                }

                &:hover h3 {
                    text-decoration-color: #191919;
                }

                p {
                    color:#636363;
                }

                .articleDate {
                    background-color: #F9D783;
                    display: inline-block;
                    padding: 0px 14px;
                    position: absolute;
                    top: 30px;
                    left: 10px;
    
                    .dayDate {
                        font-size: 22px;
                        font-weight: 700;
                    }
    
                    .monthDate {
                        margin-top: -15px;
                    }
                }
            }
        }

        .multiple-dots {
            padding-top: 40px;
            display: flex;
            justify-content: center;
            padding-bottom: 60px;
        }
    }
}