.numberButton {
    margin: 0px 4px;
    padding: 0px 10px;
    border: 1px solid #c0c0c0;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
        background-color: #191919;
        color: #ffffff;
    }
}