@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

@import './assets/components/generics/Button';
@import './assets/components/generics/ButtonDots';
@import './assets/components/generics/SectionTitle';
@import './assets/components/header/Header';
@import './assets/components/home/showcase/Showcase';
@import './assets/components/home/brands/Brands';
@import './assets/components/home/features/Features';
@import './assets/components/home/aboutcompany/AboutCompany';
@import './assets/components/home/ourservices/Ourservices';
@import './assets/components/home/whychooseus/Whychooseus';
@import './assets/components/home/projectcasestudies/ProjectAndCaseStudies';
@import './assets/components/home/meetourteam/Meetourteam';
@import './assets/components/home/testimonial/Testimonial';
@import './assets/components/home/articleandnews/Articleandnews';
@import './assets/components/home/articleandnews/Articleandnews2';
@import './assets/components/newsletter/Newsletter';
@import './assets/components/footer/Footer';
@import './assets/components/uppersection/UpperSection';
@import './assets/components/contact/contactus/Contactus';
@import './assets/components/contact/messages/Messages';
@import './assets/components/contact/mapslocation/Mapslocation';
@import './assets/components/news/ourNewsAndArticles/OurNews';
@import './assets/components/generics/NumberedButtons';
@import './assets/components/newsdetails/articleDetails/ArticleDetails';

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
